
EntityTemplateExample/Library/
EntityTemplateExample/Temp/
EntityTemplateExample/UserSettings/
EntityTemplateExample/Logs/
EntityTemplateExample/.idea/
EntityTemplateExample/obj/

.vs/

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
